<div class="container">
	<h1>API Sticker Store</h1>

	<div class="product">
		<h1>Pack of 5 for $5</h1> 
		<div class="sticker">
			<%= image_tag("apiforthat.jpg", alt: "There's an API for that.") %>
		</div>
  </div>

	<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Thank you for your purchase"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
</div>
 